h2 {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.about{
    padding-top: o;
    padding-bottom: 94px;
}
.about__list {
        display: flex;
        margin-top: 50px;
    }

.about__item:not(:last-child) {
        margin-right: 30px;
       }

.about-card{
    position: relative;
    overflow: hidden;
}

.about-card__text{
 position: absolute;
 width: 100%;
 height: 70px;
 bottom:0;
 padding-top: 27px;
 padding-bottom: 27px;
 text-align: center;
 color: #FFFFFF;
 background-color: rgba(47, 48, 58, 0.8);

}