.button{
    font-size: 16px;
    text-align: center;
    background-color: $accent-color;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.06em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    background-color: #188CE8;
}
}



 .button__hero {
    margin-top: 30px;
    line-height: 1.9;   
    padding: 8px 31px;
  
 }


 .button__subscribe {
    position: absolute;
    padding: 15px 28px;
    padding-right: 62px;
    margin-left: 12px;  
    
}


.button__icon{
    position: absolute;
    margin-left: 2px;
    top: 50%;
    right: 18px;
    transform: translateY(-50%); 
}
 
 .button__submit {
  align-self: center;
  margin-top: 30px;
  padding: 8px 50px;
  line-height: 1.9;
  
  
}

.backdrop-form__button--close{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
   border: 1px solid rgba(0, 0, 0, 0.1);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover{
    fill: $accent-color;
}
   
}



.modal-form-check.visually-hidden:checked + .modal-form__checkbox:after{
  
    background-image: url(./../images/check.svg);
    background-position: center;
    background-size: cover;
}